<div class="container">
  <ngb-tabset>
    <ngb-tab title="Mi Música" class="text">
      <ng-template ngbTabContent>
        <div class="info-client">
          <!-- NUEVA LÍNEA -->
          <a class="nav-link name-menu updateUser" style="color: white;" routerLink="/account">
            <img id="imgUsuario" src="{{ url + 'obtener-imagen-usuario/' + identidad.imagen}}" style="width: 80px;" />
            Bienvenid@ <span id="nombre-usuario">{{ identidad.nombre }}</span> </a>
          <!-- NUEVA LÍNEA -->


          <div class="row">
            <div class="col-6">
              <table style="width: 100%; text-align: center;">
                <tr>
                  <td> <img src="/assets/images/Logo5.png" alt="" srcset=""> </td>
                </tr>
                <tr>
                  <td>
                    <video id="videoBitMusic" src="/assets/audios/ImagineDragonsOnTopOfTheWorld.mp3" controls></video>
                  </td>
                </tr>
              </table>

            </div>
            <div class="col-6">
              <div class="list-group">
                <button onclick="chageSong('FooFightersThePretender');" type="button"
                  class="list-group-item list-group-item-action music-list">
                  <span class="music-image"><img src="/assets/images/music/pretender.jpg" width="80" height="80" alt=""
                      srcset=""></span> <span>Foo Fighters - The Pretender</span>
                </button>
                <button onclick="chageSong('ImagineDragonsOnTopOfTheWorld');" type="button"
                  class="list-group-item list-group-item-action music-list">
                  <span class="music-image"><img src="/assets/images/music/without-image.png" width="80" height="80"
                      alt="" srcset=""></span> <span>Imagine Dragons - On Top Of The World</span>
                </button>
                <button onclick="chageSong('InterpolAllTheRageBackHome');" type="button"
                  class="list-group-item list-group-item-action music-list">
                  <span class="music-image"><img src="/assets/images/music/without-image.png" width="80" height="80"
                      alt="" srcset=""></span> <span>Interpol - All The Rage Back Home</span>
                </button>
                <button onclick="chageSong('TheStrokesYouOnlyLiveOnce');" type="button"
                  class="list-group-item list-group-item-action music-list">
                  <span class="music-image"><img src="/assets/images/music/without-image.png" width="80" height="80"
                      alt="" srcset=""></span> <span>The Strokes - You Only Live Once</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Escuchado Recientemente" class="text">
      <ng-template ngbTabContent>
        <div class="info-client">
          <div class="music-gender">
            <div class="card black-card">
              <img src="/assets/images/music/rock-espanol.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rock en español</h5>
              </div>
            </div>
            <div class="card black-card">
              <img src="/assets/images/music/rock-clasico.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rock clasico</h5>
              </div>
            </div>
            <div class="card black-card">
              <img src="/assets/images/music/pop-latino.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pop latino</h5>
              </div>
            </div>
            <div class="card black-card">
              <img src="/assets/images/music/salsa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Salsa</h5>
              </div>
            </div>
          </div>
          <div class="music-gender">
            <div class="card black-card">
              <img src="/assets/images/music/romantica.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Romantica</h5>
              </div>
            </div>
            <div class="card black-card">
              <img src="/assets/images/music/salsa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ballenato</h5>
              </div>
            </div>
            <div class="card black-card">
              <img src="/assets/images/music/rock-clasico.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pop</h5>
              </div>
            </div>
            <div class="card black-card">
              <img src="/assets/images/music/rock-espanol.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cristiana</h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
