<ul class="nav justify-content-center user-image p-5">
    <li class="nav-item menu-bitMusic logout">
      <a class="nav-link name-menu updateUser" href="#" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
        <div class="image-menu">
          <img id="imgUsuario" src="{{ url + 'obtener-imagen-usuario/' + identidad.imagen}}" style="width: 60px;" /><span
            id="nombre-usuario">{{ identidad.nombre }}</span>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-bitBusic" aria-labelledby="navbarDropdown">
        <a class="nav-link name-menu dropdown-item" routerLink="/updateUser"><i class="far fa-user"></i> Actualizar
          usuario </a>
        <a class="nav-link name-menu dropdown-item" onclick="logout()" (click)="cerrarSesion()"><i class="fas fa-circle-notch"></i> Cerrar sesión </a>
      </div>
    </li>
  </ul>

<div class="container">
        <form class="form-signUp" #formularioActualizar="ngForm" (ngSubmit)="actualizarUsuario()">
          <div class="form-row">
            <div class="form-group form-group-1 col-md-6">
              <label class="name-form" for="nombre"> Nombre </label>
              <input type="text" class="form-control form-control-1" id="nombre" placeholder="Nombre"
              required #nombre="ngModel" name="nombre" [(ngModel)]="usuarioActualizar.nombre" />
            </div>
            <div class="form-group form-group-1 col-md-6">
              <label class="name-form" for="apellido"> Apellidos </label>
              <input type="text" class="form-control form-control-1" id="apellido" placeholder="Apellido" required 
              #apellido="ngModel" name="apellido" [(ngModel)]="usuarioActualizar.apellido" />
            </div>
          </div>
      
          <div class="form-row">
            <div class="form-group form-group-1 col-md-6">
              <label class="name-form" for="email"> Email </label>
              <input type="email" class="form-control form-control-1" id="email" placeholder="Correo Electronico" required
              #correo="ngModel" name="correo" [(ngModel)]="usuarioActualizar.correo" />
            </div>
            <div class="form-group form-group-1 col-md-6">
              <label class="name-form" for="contrasena"> Contraseña </label>
              <input type="password" class="form-control form-control-1" id="contrasena" placeholder="Contraseña" required
              #contrasena="ngModel" name="contrasena" [(ngModel)]="usuarioActualizar.contrasena" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-group-1 col-md-6">
              <label class="name-form" for="imagen"> Imagen </label>
              <!-- <input type="file" class="form-control-file" id="imagen" accept="image/*" required #imagen="ngModel" name="imagen" [(ngModel)]="usuarioActualizar.imagen" /> -->
              <input type="file" class="form-control-file" id="imagen" accept="image/*" placeholder="Subir imagen" required 
              (change)="subirArchivo($event)">
            </div>
            <div class="form-group form-group-1 col-md-6"><img src="{{ url + 'obtener-imagen-usuario/' + identidad.imagen}}" name="mostrarImagen" id="mostrarImagen" width="150" height="150" />
            </div>

      
          </div>
      
          <button class="boton" type="submit"> Actualizar </button>
      
      
        </form>
        
      </div>