* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(40, 29, 105);

}
.imagen{

  background-image: url("../assets/images/scenery_illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}


a{
  color: rgb(245, 236, 248) !important;
}



.text-main {
  position: absolute;
  z-index: 2;
  color: white;
  /* top: 8em; */
  top: 50%;
  left:50%;
}

.text-main h1 {
  font-size: 8.25em;
  line-height: 0.85;
  text-align: center;

}
.text-main button{
  margin-left: 170px;
}
.boton{
  padding:12px 28px;
  width: 200px;
  background-color: rgb(255, 190, 49);
  color:white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size:20px;
  font-weight:600;
  justify-content:center;
}


.nav-item{
  margin-right: 4%;
}

.name-menu{
  color: white !important;
  background-color: #2E2E2E;
}

.name-menu:hover{
  color: #8904B1;
}

.music-image{
  margin-right: 20px;
}

.music-list{
  background-color: black;
  color: white;
}

.music-gender {
  display: flex;
  justify-content: space-around;
}

.music-gender > div {
  width: 20%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.black-card{
  background-color: #424242;
  color: white;
  text-align: center;
}

.info-client{
  margin-top: 5%;
}

.name-form{
  color: white;
}
