<div class="container">
<div class="info-client">
    <div class="row">
     
      <div class="col-6">
        <div class="list-group div-listened">
          <button onclick="chageSong('FooFightersThePretender');" type="button"
            class="list-group-item list-group-item-action music-list btn-listened">
            <span class="music-image"><img src="/assets/images/music/pretender.jpg" width="80" height="80" alt=""
                srcset=""></span> <span>Foo Fighters - The Pretender</span>
          </button>
          <button onclick="chageSong('Piso 21  Myke Towers - Una Vida Para Recordar (Video Oficial)');" type="button"
            class="list-group-item list-group-item-action music-list btn-listened">
            <span class="music-image"><img src="/assets/images/piso 21.jpg" width="80" height="80" alt=""
                srcset=""></span> <span>Piso 21  Myke Towers - Una Vida Para Recordar (Video Oficial)</span>
          </button>
          <button onclick="chageSong('Camilo Pedro Capó - TUTU (letra)');" type="button"
            class="list-group-item list-group-item-action music-list btn-listened">
            <span class="music-image"><img src="/assets/images/camilotu.jpg" width="80" height="80" alt=""
                srcset=""></span> <span>Camilo Pedro Capó - TUTU (letra)</span>
          </button>
          <button onclick="chageSong('Greeicy Juanes - Minifalda');" type="button"
            class="list-group-item list-group-item-action music-list btn-listened">
            <span class="music-image"><img src="/assets/images/juanes.jpg" width="80" height="80" alt=""
                srcset="" ></span> <span>Greeicy Juanes - Minifalda</span>
          </button>
        <button onclick="chageSong('TINI - Consejo de Amor (Official Video) ft. Morat');" type="button"
          class="list-group-item list-group-item-action music-list btn-listened">
          <span class="music-image"><img src="/assets/images/consejo de amor.jpg" width="80" height="80" alt=""
              srcset=""></span> <span>TINI - Consejo de Amor (Official Video) ft. Morat</span>
        </button>
        </div>
      </div>
      <div class="col-6">
        <table style="width: 100%; text-align: center; margin-top: 10%">
          <tr>
            <td> <img src="/assets/images/Logo5.png" alt="" srcset=""> </td>
          </tr>
          <tr>
            <td>
              <video id="videoBitMusic" src="/assets/audios/ImagineDragonsOnTopOfTheWorld.mp3" controls></video>
            </td>
          </tr>
        </table>
  
      </div>
    </div>
</div>
</div>