<div class="container">
    <main>
        <div class="contenido">


            <li class="Selena "onclick="chageSong('Selena Gomez - LoseYouToLoveMe (Official Music Video)');">
                <img src="/assets/images/artistas/selena.jpg" alt="selena" width="230px" height="180px">
                <h2>Lose You To Love Me </h2>

                

            </li>
            <li class="Jbalvin" onclick="chageSong('J. Balvin - Ambiente');">
                <img src="/assets/images/artistas/JBalvin.jpg" alt="JBalvin" width="230px" height="180px">
                <h2>Ambiente</h2>

            </li>
            <li class="maluma" onclick="chageSong('Maluma - 11 PM (Official Video)');">
                <img src="/assets/images/artistas/maluma.jpg" alt="Maluma" width="230px" height="190px">
                <h2 >Felices los 4 </h2>

            </li>
            <li class="juanes"onclick="chageSong('Juanes - La Plata ft. Lalo Ebratt');">
                <img src="/assets/images/artistas/juanes.jpg" alt="juanes" width="230px" height="190px">
                <h2 >La plata</h2>

            </li>

            <li class="ed"onclick="chageSong('FooFightersThePretender');">
                <img src="/assets/images/artistas/ed.jpg" alt="Ed" width="230px" height="190px">
                <h2>Shape of you</h2>

            </li>
            <li class="rollings" onclick="chageSong('Los Rolling Ruanas - Paint It Black (Rolling Stones Cover)');">
                <img src="/assets/images/artistas/rollings.jpg" alt="rollings" width="230px" height="190px">
              <h2>Paint it black</h2>

            </li>
 </div>
        <video id="videoBitMusic" src="/assets/audios/ImagineDragonsOnTopOfTheWorld.mp3" controls width="100%" height="100px"></video>

    </main>
    
</div>