<div>
  <a class="nav-link logo-menu" routerLink="/">
    <img src="/assets/images/icono.png" style="width: 40%;" alt="" srcset="">
    <img src="/assets/images/logo1.png" style="width: 40%;" alt="" srcset="">
  </a>
  <ul class="nav justify-content-center logo-opts p-5">
    <li class="nav-item menu-bitMusic">
      <a class="nav-link name-menu login" routerLink="/search"><i class="fas fa-search"></i> Buscar</a>
    </li>
    <li class="nav-item menu-bitMusic">
      <a class="nav-link name-menu login" routerLink="/mostListened"><i class="fas fa-headphones-alt"></i> Lo mas
        escuchado</a>
    </li>
    <li class="nav-item menu-bitMusic">
      <a class="nav-link name-menu login" routerLink="/login"><i class="far fa-user"></i> Iniciar sesión </a>
      <a class="nav-link name-menu logout" style="display: none;" routerLink="/account"><i class="fas fa-music"></i> Mi cuenta</a>
    </li>
    <li class="nav-item menu-bitMusic">
      <a class="nav-link name-menu login" routerLink="/signUp"><i class="far fa-registered"></i> Registrate </a>
      <a class="nav-link name-menu logout" style="display: none;" routerLink="/updateUser"><i class="far fa-user"></i>
        Actualizar
        usuario </a>

    </li>
  </ul>
</div>