<ul class="nav justify-content-center p-5 ">
  <li class="nav-item" style="    margin-right: 20%;" >
    <a class="nav-link" href="#">
      <img src="/assets/images/Logo3.png" style="width: 70%;" alt="" srcset="">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link name-menu" routerLink="/main">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link name-menu" routerLink="/home">Premium</a>
  </li>
  <li class="nav-item">
    <a class="nav-link name-menu" routerLink="/account">Cuenta</a>
  </li>
</ul>