<div>
  <a class="nav-link logo-menu" routerLink="/">
    <img src="/assets/images/icono.png" style="width: 20%;" alt="" srcset="">
    <img src="/assets/images/logo1.png" style="width: 30%;" alt="" srcset="">
  </a>
  <ul class="nav justify-content-center logo-opts p-5">
    <li class="nav-item">
      <a class="nav-link name-menu" routerLink="/search"><i class="fas fa-search"></i> Buscar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link name-menu" routerLink="/mostListened"><i class="fas fa-headphones-alt"></i> Lo mas escuchado</a>
    </li>
    <li class="nav-item">
      <a class="nav-link name-menu" routerLink="/login"><i class="far fa-user"></i> Iniciar sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link name-menu" routerLink="/signUp"><i class="far fa-registered"></i> Registrate</a>
    </li>
  </ul>
</div>